<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 포인트</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

<!-- topscript 시작-->
<div th:replace="/admin/fragment/topscript.html :: topscript"></div>
<!-- topscript 끝-->

<body>
<div class="container">

    <!-- menu 시작 -->
    <div th:replace="/admin/fragment/menu.html :: menu"></div>
    <!-- menu 끝 -->


        <div class="containerbody">
            <!-- main -->
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>포인트 목록</h2>
                        </div>
                        <div class="scheduleSearch">
                            <form action="#">
                                <div class="wrapper">
                                    <fieldset class="selectDiv">
                                        <select name="menu" id="menu-select">
                                            <option value="">검색필터</option>
                                            <option value="아이디">아이디</option>
                                            <option value="적립">적립</option>
                                            <option value="사용">사용</option>
                                            <option value="반환">반환</option>
                                        </select>
                                        <input type="text" class="searchBox" title="검색어를 입력하세요"
                                            placeholder="검색어를 입력하세요">
                                            <button type="submit" class="button search" value="검색">검색</button>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <table>
                            <thead>
                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">NO</td>
                                    <td class="departureTime">내용</td>
                                    <td class="departureLocation">금액(P)</td>
                                    <td class="departureTime">아이디</td>
                                    <td class="arriveTime">상태</td>
                                    <td class="arriveTime">사용(적립)일시</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">10</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>

                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">9</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>
                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">8</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>

                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">7</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>
                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">6</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>
                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">5</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>
                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">4</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>
                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">3</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>
                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">2</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>
                                <tr class="topbanner" onclick="location.href='/point/point_settings/point_settings.html'">
                                    <td class="airplaneName">1</td>
                                    <td class="departureTime">신규가입보너스</td>
                                    <td class="departureLocation">2,000</td>
                                    <td class="departureTime">user01</td>
                                    <td class="arriveTime">적립</td>
                                    <td class="arriveTime">도착시간</td>
                                </tr>
                                
                            </tbody>
                        </table>

                        <div class="paging">
                            <div class="page_btn">
                                <a href="#" class="firstpage_btn">First</a>
                            </div>

                            <div class="page_btn">
                                <a href="#" class="prevpage_btn">Prev</a>
                            </div>

                            <div class="page_btn2 current_btn">
                                <a href="#" class="pagenum">1</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">2</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">3</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">4</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">5</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">6</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">7</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">8</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">9</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">10</a>
                            </div>

                            <div class="page_btn">
                                <a href="#" class="prevpage_btn">Next</a>
                            </div>

                            <div class="page_btn">
                                <a href="#" class="firstpage_btn">End</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--아이콘 사용을 위한 설치 스크립트-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <script>
        console.log("헬로우")
        console.log(document.title.substr(7));
        var name2 = document.title.substr(7);
        var span = document.querySelectorAll('.navigation span');
        var regex = /[^0-9]/g;
        for(var i=0; i<span.length; i++){
            if(span[i].innerHTML == name2){
                console.log("같은게 들어옴 " + i + "번")
                var li = span[i].parentElement.parentElement
                var num;
                var str;
                if(li.className.substr(0, 4) == 'drop'){
                    str = li.parentElement.parentElement.firstElementChild.getAttribute("onclick");
                    num = str.replace(regex, "");
                    dropdown(num);
                    li.classList.add('thispage');
                    li.parentElement.parentElement.classList.add('thispage');
                }else{
                    str = li.firstElementChild.getAttribute("onclick");
                    num = str.replace(regex, "");
                    li.classList.add('thispage');
                }
            }
        }

    </script>

</body>

</html>