<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 유실물 목록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

<!-- topscript 시작-->
<script th:replace="/admin/fragment/topscript.html :: topscript"></script>
<!-- topscript 끝-->

<style>
    button.file{width: 60px; height: 30px; border-radius: 6px; border: none; background-color: var(--orange); color: var(--white); font-size: 15px; margin-left: 10px;}
    .textBox3{border: 1px solid #d9d9d9; height: 30px; width: 230px; border-radius: 7px; text-align: center;}
</style>

<body>
    <div class="container">
        <!—- menu 시작-—>
        <div th:replace="/admin/fragment/menu.html :: menu"></div>
        <!—- menu 끝-—>

        <!-- main -->
        <div class="containerbody">
            <div class="main">
                <!-- 본문 -->
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                <div class="pageTitle">
                                    <h2>유실물 목록 - 상세</h2>
                                </div>
                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">관리번호</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="관리자 번호 자동 등록" readonly style="color: #9b9a9a;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">습득편명</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="OJ0304" readonly></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">습득 날짜</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="2022-06-10" readonly></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">보관 장소</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="서울(김포)" readonly></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">폐기 날짜</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="2022-06-10" readonly></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">색상</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="흰색(화이트)" readonly></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">품목</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="휴대폰" readonly></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">상세 설명</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="아이폰 XS" readonly></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">좌석번호</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="G11" readonly></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">상태</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="보관중" readonly></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">이미지 첨부</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="124fdj234.jpg" readonly></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="buttonArea">
                                <button type="button" class="button cancel" value="취소" onclick="location.href='/lost_item/lost_item_list/lost_item_list.html'">목록</button>
                                <button type="button" class="button register" value="수정" onclick="location.href='/lost_item/lost_item_list/lost_item_edit.html'">수정</button>
                                <button type="button" class="button delete" value="삭제" onclick="delete_view()">삭제</button>
                            </div>
                        </form>
                    </dl>
                </div>

                <!-- 본문 끝 -->
            </div>
        </div>

    </div>

    <!-- underscript 시작-->
    <script th:replace="/admin/fragment/underscript :: underscript"></script>
    <!-- underscript 끝-->
</body>

</html>