<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 이벤트 등록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

<script src="/admin/lib/js/ckEditor/ckeditor.js"></script>
<script src="/admin/lib/js/ckEditor/translations/ko.js"></script>

<style>
    .classic_title{
        position: relative;
        width: 100%;
        margin-top: 20px;
        border: 1px solid var(--black2);
    }
	.ck.ck-editor {
    	/* max-width: 90%;  */
        position: relative;
        width: 100%;
        margin-top: 20px;
	}
	.ck-editor__editable {
        min-height: 500px;
	}
</style>

<!-- topscript 시작-->
<script th:replace="/admin/fragment/topscript.html :: topscript"></script>
<!-- topscript 끝-->

<body>
    <div class="container">
        <!—- menu 시작-—>
        <div th:replace="/admin/fragment/menu.html :: menu"></div>
        <!—- menu 끝-—>

        <div class="containerbody">
            <!-- main -->
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>이벤트 등록</h2>
                        </div>
                        <div class="scheduleSearch">
                            <form action="#">
                                <div class="wrapper1">
                                    
                                    <h3>이벤트 기간</h3>
                                        <input type="text" class="searchBox1" title="검색어를 입력하세요"
                                            placeholder="2022.06.08" dir="ltr"> ~
                                        <input type="text" class="searchBox1" title="검색어를 입력하세요"
                                        placeholder="2022.06.19">
                                        <h4 style="text-align: left;">등록일 2022-06-07</h4>
                                    
                                </div>
                            </form>
                        </div>
                        <table>
                            <form action="insertStudentInfoForm" method="post">
                                <input type="text" class="classic_title" placeholder="제목을 입력해주세요">            
                                <div id="classic">
                                    <p>This is some sample content.</p>
                                </div>    
                            </form>

                            </tbody>  
                        </table>
                        <div class="event_btn">
                            <div class="buttonArea">
                                <button type="submit" class="button back" value="목록" onclick="location.href='/event/event_list/event_list_edit.html'">목록</button>
                                <button type="submit" class="button write" value="등록하기" onclick="location.href='/event/event_list/event_list_edit.html'">등록하기</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- underscript 시작-->
    <script th:replace="/admin/fragment/underscript :: underscript"></script>
    <!-- underscript 끝-->

    <script>
        ClassicEditor
            .create( document.querySelector( '#classic' ), {
                language: 'ko' //언어설정
            })
            .catch( error => {
                console.error( error );
            } );
    </script>
</body>
</html>