<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 결제조회 </title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

    <!-- topscript 시작-->
    <div th:replace="/admin/fragment/topscript.html :: topscript"></div>
    <!-- topscript 끝-->

<body>
<div class="container">

    <!-- menu 시작 -->
    <div th:replace="/admin/fragment/menu.html :: menu"></div>
    <!-- menu 끝 -->


        <!-- main -->
        <div class="containerbody">
            <div class="main">
                <!-- 본문 -->
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                <div class="pageTitle">
                                    <h2>결제 내역 상세</h2>
                                </div>
                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">고유번호</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">결제일시</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="2022-07-04" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">아이디</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="user01" readonly>
                                        </div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">내용</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="항공권 및 부가서비스 결제" readonly>
                                        </div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">금액</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="199,000 KRW" readonly>
                                        </div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">상태</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="결제완료" readonly>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </form>
                    </dl>
                </div>

                <!-- 본문 끝 -->
            </div>
            <!-- 부가서비스-->
            <div class="main">
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                
                                <div class="pageTitle">
                                    <h2>부가서비스 내역</h2>
                                </div>
                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">부가서비스 타입</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="사전 기내식 주문" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">부가서비스 상세</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="구름 위에 샌드위치" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">결제수단</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="KAKAOPAY" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">예약취소수단</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="KAKAOPAY" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">결제금액</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10,000 KRW" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl"></span>
                                        <div class="reg_content">
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </form>
                    </dl>
                </div>
            </div>
            <!--부가서비스 끝-->

            <!-- 항공권 결제내역-->
            <div class="main">
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                
                                <div class="pageTitle">
                                    <h2>결제된 항공권</h2>
                                </div>
                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">고유번호</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">이메일</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">성명(KOR)</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">연락처</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">성명(ENG)</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">성인/소아/유아</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">성별</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">자동체크인</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">아이디</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">회원여부</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">생년월일</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">예약상태</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">국적</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">결제수단</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">거주국가</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">결제금액</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">우편번호</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">예약취소수단</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">주소</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">결제일</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">상세주소</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl"></span>
                                        <div class="reg_content">
                                            
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">기내식 선택 여부</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">기내식</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="10" readonly>
                                        </div>
                                    </li>

                                    </ul>
                            </div>
                            <div class="buttonArea">
                                <button type="button" class="button back" value="목록" onclick="location.href='/payment/payment_list/payment_list.html'">목록</button>
                                
                            </div>
                        </form>
                    </dl>
                </div>
            </div>

        </div>

    </div>


    <!--아이콘 사용을 위한 설치 스크립트-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        console.log("헬로우")
        console.log(document.title.substr(7));
        var name2 = document.title.substr(7);
        var span = document.querySelectorAll('.navigation span');
        var regex = /[^0-9]/g;
        for(var i=0; i<span.length; i++){
            if(span[i].innerHTML == name2){
                console.log("같은게 들어옴 " + i + "번")
                var li = span[i].parentElement.parentElement
                var num;
                var str;
                if(li.className.substr(0, 4) == 'drop'){
                    str = li.parentElement.parentElement.firstElementChild.getAttribute("onclick");
                    num = str.replace(regex, "");
                    dropdown(num);
                    li.classList.add('thispage');
                    li.parentElement.parentElement.classList.add('thispage');
                }else{
                    str = li.firstElementChild.getAttribute("onclick");
                    num = str.replace(regex, "");
                    li.classList.add('thispage');
                }
            }
        }

    </script>
    
</body>

</html>