<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<body id="subLayoutBody">
	
    	<!-- 앱설치알림 -->
	<!-- 남은시간 연장 및 공지바 노출-->
	<div class="top-custom-banner ticketing_top_bar"><!--활성화시 .on 추가-->
		<div class="top-custom-banner__inner">
			<dl class="time_bar">
				<dt>이용 가능시간 : </dt>
				<dd><strong></strong></dd>
			</dl>
			<div class="link-wrap--arrow">
				<button type="button"  class="link-wrap__text" onclick="javascript:sendExtTripsell();"><span>연장하기</span></button>
			</div>
			<button type="button" class="top-custom-banner__close" aria-label="닫기"></button>
		</div>
	</div>
	<!-- 앱설치알림 끝-->

	<!--header-->
	<div th:replace="/user/fragment/header :: header"></div>
	<!--header 끝-->

	<div id="body">
		
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="wrap wrap--login pc-small" >
			
			
	
			
			<div class="content" id="content">
				<main id="main" class="main ">
					
					<div class="content" id="content">
        <main id="main" class="main">
            <div class="title">
            <div class="title__page mobile-only">인증 이메일이<br>발송되었어요.</div>
            <div class="title__wrap pc-only">
                <div class="title__page">이메일 발송 안내</div>
                <div class="title__additional">인증 이메일이 발송되었어요.</div>
            </div>
            </div>

            <div class="container--default pc-30">
                <div class="gray-box">
                <div class="text">
                    <p class="text__default text--bold pc-text-large">
                    <span class="text--color-org" id="spanEmailResult"> jejuair@jejuair.com </span>
                    </p>
                </div>
                </div>
            </div>
            <ul class="list-guide list-guide--color-gray pc-20">
                <li class="list-guide__item">이메일에 첨부된 링크에 접속하여 다음 단계를 진행해 주세요.</li>
                <li class="list-guide__item">이메일이 오지 않았을 경우 스팸메일함을 확인해 주세요.</li>
                <li class="list-guide__item">발송 시간은 메일에 따라 조금씩 달라질 수 있습니다. </li>
            </ul>
            <div class="button-wrap">
                <a href="javascript:;" class="button button--small" id="btnReSendEmail"><span class="button__text">인증 이메일 다시 받기</span></a>
            </div>

            <!--<div class="button-wrap pc-80" data-element="bottomContent">-->
            <div id="btnMainDiv" class="button-wrap pc-80" data-element="">
                <button id="mainBtn" type="button" class="button button--primary button--active" data-action="menu" data-menu-name="main"><span
                    class="button__text">메인</span></button>
            </div>
            </main>
        </div>

<input type="hidden" id="ffpNo" value="089551873" />
<input type="hidden" id="url" value="/ko/member/setup/passwordInit.do" />
<input type="hidden" id="title" value="아이디/비밀번호 찾기" />
<input type="hidden" id="email" value="esk3784@naver.com" />
<form id="frm" name="frm" method="post" action="" >
	<input type="hidden" id="joinGubun" name="status" />
	<input type="hidden" id="test" name="test" />
	<input type="hidden" id="lang" name="lang" value="" />
</form>
				</main>
			</div>
			
		</div>
	</div>


	<!-- footer -->
	<div th:replace="/user/fragment/footer :: footer"></div>
	<!-- / footer 끝 -->
</div>


<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/admin/lib/admin/lib.min.js"></script>

<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/admin/lib/moment-with-locales.min.js"></script>

<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/admin/lib/jquery.i18n.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/admin/lib/jquery.i18n.messagestore.js"></script>
<!-- 메인페이지 스크립트 에러 발생으로 이전 소스로 변경합니다. 
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/booking/plugin.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/booking/common.js"></script>
-->
<script>
$(document).ready(function(){
	
	
	//BOOKING LAYOUT상태서 sub로 바뀔경우  
	$(document).off('changeLayout').on('changeLayout', function(e, type) {
		if(type==='sub') {
			$('.bookingType').hide();
			$('.subType').show();
		}else if(type==='booking'){
			$('.subType').hide();
			$('.bookingType').show();
		}
	});
    
	//breadcrumbs cursor default
	$('.breadcrumb__item > a').css('cursor','default');
});

//타이틀 설정
$('header.mobile-only h2.header__page-name').text($('#main div.page-title').eq(0).text());
</script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/plugin.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/common.js"></script>

<!--필요시만 로드-->
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/vendor/lodash.min.js"></script>
<!--사용되지 않음-->
<!--<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/vendor/localforage.min.js"></script>-->
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/vendor/handlebars.min-v4.7.6.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/handlebars.helpers.js"></script>

<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/util/sUtil.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/util/dUtil.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/util/utils.js"></script>

<!--필요시만 로드-->
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/amcharts/amcharts.core.js"></script>


<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/bizjs/commons/bizCommons.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/jj.helpers.js"></script>

	
        
            <script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/bizjs/member/login/emailSendGuide.js"></script>
        
    

	
	
	<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
		<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>    
	</div>
<script type="text/javascript"  src="/VCKXGvDtC/yEH/JSx/ElhWy7SOzvcE/aOD3tDrm7p1O/KSMWAQ/K0sAYw/ZXXnI"></script></body>
</html>