<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | FAQ 목록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

<style>
    .classic_title{
        position: relative;
        width: 100%;
        margin-top: 20px;
        border: 1px solid var(--black2);
    }
    .ck.ck-editor {
        /* max-width: 90%;  */
        position: relative;
        width: 100%;
        margin-top: 20px;
    }
    .ck-editor__editable {
        min-height: 500px;
    }
</style>

<script src="/admin/lib/js/ckEditor/ckeditor.js"></script>
<script src="/admin/lib/js/ckEditor/translations/ko.js"></script>
<!-- topscript 시작-->
<script th:replace="/admin/fragment/topscript :: topscript"></script>
<!-- topscript 끝-->

<body>
    <div class="container">
        <!—- menu 시작-—>
        <div th:replace="/admin/fragment/menu :: menu"></div>
        <!—- menu 끝-—>

        <div class="containerbody">
            <!-- main -->
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>FAQ 작성하기</h2>
                        </div>
                        <div class="scheduleSearch">
                            <form action="#">
                                <div class="wrapper">
                                        
                                    

                                        
                                </div>
                            </form>
                        </div>
                        <table>
                            <form action="insertStudentInfoForm" method="post">
                            <div>
                                <select name="menu" id="menu-select">
                                    <option value="">전체</option>
                                    <option value="">항공권 예약 변경/취소</option>
                                    <option value="">리프레시 포인트</option>
                                    <option value="">홈페이지 & 모바일 이용</option>
                                    <option value="">서비스안내</option>
                                    <option value="">기타</option>
                                </select>
                                <input type="text" class="classic_title" placeholder="제목을 입력해주세요"> 
                                     
                                <div id="classic">
                                    <p>This is some sample content.</p>
                                </div>  
                                  
                            </form>

                            </tbody>  
                        </table>
                        <div class="event_btn">
                            <div class="buttonArea">
                                <button type="submit" class="button back" value="목록" onclick="location.href='../event_list/event_list.html'">목록</button>
                                <button type="submit" class="button write" value="등록하기" onclick="location.href='../event_regist/event_regist.html'">등록하기</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- underscript 시작-->
    <script th:replace="/admin/fragment/underscript :: underscript"></script>
    <!-- underscript 끝-->

    <script>
        ClassicEditor
            .create( document.querySelector( '#classic' ), {
                language: 'ko' //언어설정
            })
            .catch( error => {
                console.error( error );
            } );
    </script>
</body>
</html>