<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<body id="subLayoutBody">

<!-- 개선 #1271286440
<div id="skipNav" class="skip-nav">
	<a href="#content" class="skip-nav__item">본문 바로가기</a>
</div>
-->
<!-- 상단 띠배너 공지사항은 메인페이지만 표시합니다. -->




<!-- 앱설치알림 -->

<!-- 남은시간 연장 및 공지바 노출-->
<div class="top-custom-banner ticketing_top_bar"><!--활성화시 .on 추가-->
	<div class="top-custom-banner__inner">
		<dl class="time_bar">
			<dt>이용 가능시간 : </dt>
			<dd><strong></strong></dd>
		</dl>
		<div class="link-wrap--arrow">
			<button type="button"  class="link-wrap__text" onclick="javascript:sendExtTripsell();"><span>연장하기</span></button>
		</div>
		<button type="button" class="top-custom-banner__close" aria-label="닫기"></button>
	</div>
</div>

<!-- //남은시간 연장 및 공지바 노출 -->

<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->


<div id="body">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="wrap wrap--login pc-small" >




		<div class="content" id="content">
			<main id="main" class="main ">

				<form name="frm" id="frm" method="post" action="./findUserInfoList.do">
					<input type="hidden" id="apiRequestType" name="apiRequestType" value="" />
					<input type="hidden" id="mobileNo" name="mobileNo" value="" />
					<!--20210519 title영역 수정-->
					<div class="page-title-wrap">
						<div class="page-title">아이디/비밀번호 찾기</div>
						<div class="page-sub-title">가입 시 등록한 <br class="mobile-only">휴대전화번호를 입력해 주세요.</div>
					</div>
					<!--//20210519 title영역 수정-->

					<div class="section-wrap">
						<!--20210519 class명 변경-->
						<div class="input-wrap input--line">
							<div class="input-row">
								<div class="input-item">
									<div id="input-box" class="input-flex">
										<div class="input-box input-box--tel">
											<div class="select-wrap select-wrap--line">

												<button class="select-wrap__button active" id="btnCountryCode" type="button" onclick="openLayerCountry('ko', $('#hidCountryCode'), this)">+82</button>
												<input type="hidden" id="hidCountryCode" class="input_contact" value="82">

												<!--<select id="countryMobileCode" title="거주 국가 선택" class="select-wrap__select">
                                                    <option value="">선택</option>

                                                </select> -->
											</div>
										</div>
										<div class="input-box">
											<label for="mobileNoTmp" class="input__label">휴대전화번호<span title="required" class="input__label-asterisk">*</span></label>
											<div data-element="form" class="input">
												<input type="tel" id="mobileNoTmp" name="mobileNoTmp" class="input__text" maxlength="13" numberOnly>
												<button type="button" data-element="remove" class="input__remove-button"><span class="hidden">삭제</span></button>
											</div>
										</div>
									</div>

									<p tabindex="0" class="input__error" id="resultErrMessage" style="display: none;">입력하신 정보의 계정을 찾을 수 없어요. <br>다시 입력해주세요.</p>
									<p tabindex="0" class="input__error" id="inputErrMessage" style="display: none;">휴대전화번호 오류입니다. 다시 확인해 주세요.</p>
								</div>
							</div>

						</div>
					</div>
					<div class="button-wrap section-wrap" data-element="bottomContent"><!--20210519 class명 변경 -->
						<button type="button" class="button button--primary" id="nextAction" data-action="nextBtn"><span class="button__text">다음</span></button><!-- D : 버튼 활성화 클래스 button--active -->
					</div>
				</form>
				<input type="hidden" id="lang" name="lang" value="ko">
			</main>
		</div>

	</div>
</div>



<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->



<!--<div id="footer" class="footer pc-only">-->

<!--	&lt;!&ndash; pc &ndash;&gt;-->
<!--	<footer class="footer__inner">-->
<!--		<div class="footer__top">-->
<!--			<div class="footer__top-item">-->
<!--				<a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="about">회사소개</a>-->
<!--			</div>-->

<!--			<div class="footer__top-item">-->
<!--				<a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="esg">ESG 경영</a>-->
<!--			</div>-->


<!--			<div class="footer__top-item">-->
<!--				<a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="irNotice">투자정보</a>-->
<!--			</div>-->


<!--			<div class="footer__top-item">-->
<!--				<a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="incruit">채용안내</a>-->
<!--			</div>-->

<!--			<div class="footer__top-item">-->
<!--				<a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="carriageTemrs">여객운송약관</a>-->
<!--			</div>-->
<!--			<div class="footer__top-item">-->
<!--				<a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="homepageTerms">홈페이지 이용약관</a>-->
<!--			</div>-->
<!--			<div class="footer__top-item footer__top-item&#45;&#45;privacy">-->
<!--				<a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="personalTerms">개인정보처리방침</a>-->
<!--			</div>-->
<!--			<div class="footer__top-item">-->
<!--				<a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="sitemap">사이트맵</a>-->
<!--			</div>-->

<!--			<div class="footer__top-item footer__top-item&#45;&#45;family">-->
<!--				<div class="family-wrap" data-element="toggle" data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>-->
<!--					<button type="button" class="button-family" data-element="toggle__anchor">Family Site</button>-->
<!--					<div class="family-list" data-element="toggle__panel">-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAekyung">㈜애경산업</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAtecltd">㈜에이텍</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAekyngst">애경S.T</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkis">에이케이아이에스㈜</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAdmission">애드미션</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyNeopharm">네오팜</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkp">애경유화㈜</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkc">애경화학㈜</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkchemtech">에이케이켐텍</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyKospa">코스파</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkplaza">AK PLAZA</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAekyunggroup">AK홀딩스</a>-->
<!--						<a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkdjbcc">애경개발</a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--		</div>-->
<!--		<hr class="footer__spacer">-->
<!--		<div class="footer__bottom">-->


<!--			<a href="#" class="footer__logo"  data-action="menu" data-menu-name="main" style="background: ;">-->
<!--				<img src="https://static.jejuair.net/cms/images/banner_image/20211108172526406.png" alt="제주항공로고" loading="lazy"/>-->
<!--			</a>-->

<!--			<div class="footer__bottom-contents">-->


<!--				<div class="footer__bottom-info">-->





<!--					<div class="info-item">-->
<!--						<a href="javascript:URL_LINK.getI18Url('/terms/page/transportationServicePlan.do');" class="link">항공교통이용자 서비스 계획</a>-->
<!--					</div>-->





<!--					<div class="info-item">-->
<!--						<a href="javascript:URL_LINK.getI18Url('https://www.avsec365.or.kr/');" class="link">항공위험물안내 </a>-->
<!--					</div>-->







<!--					<div class="info-item">-->
<!--						<a href="javascript:URL_LINK.getI18Url('https://static.jejuair.net/hpgg/resources/pdf/Application_for_Damage_Redress.pdf');" class="link">항공교통이용자 피해구제 계획</a>-->
<!--					</div>-->





<!--					<div class="info-item">-->
<!--						<a href="javascript:URL_LINK.getI18Url('http://static.jejuair.net/cms/images/file_upload/20220628173251946.pdf');" class="link">항공안전투자공시</a>-->
<!--					</div>-->

<!--				</div>-->




<!--				<div class="footer__bottom-util">-->
<!--					<a href="javascript:void(0);" class="util-app-ios" data-action="menu" data-menu-name="iOSBtn"><img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-footer-app-ios.png" alt="" loading="lazy"> IOS</a>-->
<!--					<a href="javascript:void(0);" class="util-app-aos" data-action="menu" data-menu-name="AndroidBtn"><img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-footer-app-aos.png" alt="" loading="lazy"> Android</a>-->
<!--				</div>-->

<!--				<p class="footer__bottom-address"><span>사업자등록번호 : 616-81-50527</span><span>대표이사 : 김이배</span><br>-->
<!--					제주특별자치도 제주시 신대로 64(연동, 건설공제회관 3층)</p>-->
<!--				<p class="footer__bottom-copy">Copyright ⓒ JEJUAIR. All Rights Reserved.</p>-->

<!--			</div>-->
<!--		</div>-->
<!--	</footer>-->
<!--	&lt;!&ndash; //pc &ndash;&gt;-->

<!--</div>-->










<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/lib/lib.min.js"></script>

<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/lib/moment-with-locales.min.js"></script>

<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/lib/jquery.i18n.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/lib/jquery.i18n.messagestore.js"></script>
<!-- 메인페이지 스크립트 에러 발생으로 이전 소스로 변경합니다.
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/booking/plugin.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/booking/common.js"></script>
-->
<script>
	$(document).ready(function(){

		$.ajaxSetup({
			beforeSend: function(xhr) {
				xhr.setRequestHeader('tcode', '0000000141');
				xhr.setRequestHeader('cname', USER_DEVICE.getName());
			}
		});


		//BOOKING LAYOUT상태서 sub로 바뀔경우
		$(document).off('changeLayout').on('changeLayout', function(e, type) {
			if(type==='sub') {
				$('.bookingType').hide();
				$('.subType').show();
			}else if(type==='booking'){
				$('.subType').hide();
				$('.bookingType').show();
			}
		});

		//breadcrumbs cursor default
		$('.breadcrumb__item > a').css('cursor','default');
	});

	//타이틀 설정
	$('header.mobile-only h2.header__page-name').text($('#main div.page-title').eq(0).text());
</script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/plugin.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/common.js"></script>

<!--필요시만 로드-->
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/vendor/lodash.min.js"></script>
<!--사용되지 않음-->
<!--<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/vendor/localforage.min.js"></script>-->
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/vendor/handlebars.min-v4.7.6.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/handlebars.helpers.js"></script>

<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/util/sUtil.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/util/dUtil.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/util/utils.js"></script>

<!--필요시만 로드-->
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/amcharts/amcharts.core.js"></script>


<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/bizjs/commons/bizCommons.js"></script>
<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/js/jj.helpers.js"></script>





<script src="https://static.jejuair.net/hpgg/resources/js/booking/country.js"></script>
<script>
	$(document).ready(function(){

		$("#mobileNoTmp").on("focusout", function() {
			$(this).val( $(this).val().replace(/-+/g, '-').replace(/-$/g, '') );
		});

		$("#hidCountryCode").on("change", function() {
			$("#mobileNoTmp").val('');
			$("#inputErrMessage").hide();
			$("#resultErrMessage").hide();
			$("#nextAction").removeClass("button--active");
		});

		$("#frm").on("keyup", "#mobileNoTmp", function(ev){
			$("#resultErrMessage").hide();

			var textinput = $(this).val().replace(/[^0-9:\-]|^-/g, '');
			$(this).val(textinput);

			var number = $(this).val().replace(/[^0-9]/g, "");

			//if(I18N.language == "ko"){
			if($('#hidCountryCode').val() == '82'){
				$('#mobileNoTmp').attr('maxlength','13');

				// 시작값 체크 : 1, 0, 01
				var chkBtnAct = false; // 버튼활성여부 체크변수
				if (number.length == 0) {
					$("#inputErrMessage").hide();
				} else if (number.startsWith('0')) {

					if (number.length >= 2) {
						if (number.startsWith('01')) {
							$("#inputErrMessage").hide();
							chkBtnAct = true;
						} else {
							$("#nextAction").removeClass("button--active");
							$("#inputErrMessage").show();
							chkBtnAct = false;
						}
					} else {
						$("#inputErrMessage").hide();
						chkBtnAct = true;
					}

				} else {
					$("#nextAction").removeClass("button--active");
					$("#inputErrMessage").show();
					chkBtnAct = false;
				}

				// 길이별 휴대전화번호 형식 생성과 버튼활성
				var phone = "";
				if(number.length < 4) {
					$("#nextAction").removeClass("button--active");
					return number;
				} else if(number.length < 7) {
					phone += number.substr(0, 3);
					phone += "-";
					phone += number.substr(3);
					$("#nextAction").removeClass("button--active");
				} else if(number.length < 10) {
					phone += number.substr(0, 3);
					phone += "-";
					phone += number.substr(3, 3);
					phone += "-";
					phone += number.substr(6);
					$("#nextAction").removeClass("button--active");
				} else if(number.length == 10) {
					phone += number.substr(0, 3);
					phone += "-";
					phone += number.substr(3, 3);
					phone += "-";
					phone += number.substr(6);
					if (chkBtnAct == true) {
						$("#nextAction").addClass("button--active");
					}
				} else {
					phone += number.substr(0, 3);
					phone += "-";
					phone += number.substr(3, 4);
					phone += "-";
					phone += number.substr(7);
					if (chkBtnAct == true) {
						$("#nextAction").addClass("button--active");
					}
				}

				$(this).val(phone);

			}else{
				var ctrCdLength = $("#hidCountryCode").val().length;
				if (ctrCdLength == 1) {
					$('#mobileNoTmp').attr('maxlength','16');
				} else if (ctrCdLength == 2) {
					$('#mobileNoTmp').attr('maxlength','15');
				} else if (ctrCdLength == 3) {
					$('#mobileNoTmp').attr('maxlength','14');
				}

				if($("#hidCountryCode").val() != "" && number.length > 4){
					$("#nextAction").addClass("button--active");
				}else{
					$("#nextAction").removeClass("button--active");
				}
			}
		})
				.on("click", "#nextAction.button--active", function(ev){
					$("#resultErrMessage").hide();

					var inputPhoneNo = $("#mobileNoTmp").val();
					var countryCode = $("#hidCountryCode").val();

					if(countryCode == ""){
						return false;
					}

					var mobileNo = countryCode+'-'+inputPhoneNo;
					var params = {
						"url":'/api/member/find/findUserInfo.json',
						"body" : {
							"apiRequestType" : "3000",
							"mobileNo" : mobileNo
						}
					}

					Api.post(params, function(results) {
						var dataCode = results.data.code;
						if(dataCode.resultCode == "9006" || dataCode.resultCode == "9900" || dataCode.resultCode == "9999") { /* 탈퇴 및 미가입 계정 */
							$("#resultErrMessage").show();
							return;
						}
						$("#apiRequestType").val("3000");
						$("#mobileNo").val(mobileNo);

						$("#frm").submit();
					}, function(error) {
						alert("code:"+error.status+"\n"+"message:"+error.responseText);
					});
				});

		if($('#mobileNoTmp').val().trim()!=='') {
			$('[data-element="form"]').trigger('focusin');
			$("#frm #mobileNoTmp").trigger('keyup');
		}

		//enter key
		document.addEventListener('keydown', function(event) {
			if (event.keyCode === 13) {
				$("#nextAction.button--active").trigger('click');
				event.preventDefault();
			};
		}, true);
	});

</script>

<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
	<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>
<script type="text/javascript"  src="/sxxVStQ-J/K8he8V/MqQ/1Ntarktpa31h/DgFGMgE/fjdBFnsV/Nl0"></script></body>
</html>