<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 이벤트 목록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

<script src="/admin/lib/js/ckEditor/ckeditor.js"></script>
<script src="/admin/lib/js/ckEditor/translations/ko.js"></script>

<!-- topscript 시작-->
<script th:replace="/admin/fragment/topscript :: topscript"></script>
<!-- topscript 끝-->

<style>
    .classic_title{
        position: relative;
        width: 100%;
        margin-top: 20px;
    }
	.ck.ck-editor {
    	/* max-width: 90%;  */
        position: relative;
        width: 100%;
	}
	.ck-editor__editable {
        min-height: 500px;
	}
</style>

<body>
    <div class="container">
        <!—- menu 시작-—>
        <div th:replace="/admin/fragment/menu :: menu"></div>
        <!—- menu 끝-—>

        <div class="containerbody">
            <!-- main -->
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>이벤트 목록</h2>
                        </div>
                        <div class="scheduleSearch">
                            <form action="#">
                                <div class="wrapper1">
                                    
                                    <h3>이벤트 기간</h3>
                                        <input type="date" class="searchBox1" title="검색어를 입력하세요"
                                            placeholder="2022.06.08" dir="ltr"> ~
                                        <input type="date" class="searchBox1" title="검색어를 입력하세요"
                                        placeholder="2022.06.19">
                                        <h4 style="text-align: left;">등록일 2022-06-07</h4>
                                    
                                </div>
                            </form>
                            
                        </div>
                        <!-- <table>
                            <input type="text" class="classic_title" placeholder="[이벤트] 카카오페이 최대 2만원 즉시할인!">  
                            <textarea name="" id="textarea1">


                                할인적용 채널
                                제주항공 공식 홈페이지 ,모바일웹 , 애플리케이션

                                내용
                                기간 중 카카오페이로 실 결제 금액 구간별 즉시할인
                                (기간내 1회)
                            </textarea>

                            </tbody>  
                        </table> -->
                        <table>
                            <thead>
                                <tr class="topbanner" style="color: var(--black2);">
                                    <td class="airplaneName" style="text-align: left;">[이벤트] 카카오페이 최대 2만원 즉시할인!</td>
                                </tr>
                            </thead> 
                            
                        </table>
                        <textarea>


                                할인적용 채널
                                제주항공 공식 홈페이지 ,모바일웹 , 애플리케이션

                                내용
                                기간 중 카카오페이로 실 결제 금액 구간별 즉시할인
                                (기간내 1회)
                        </textarea>

                        <div class="event_btn">
                            <div class="buttonArea">
                                <button type="button" class="button back" value="목록" onclick="location.href='/event/event_list/event_list.html'">목록</button>
                                <button type="submit" class="button register" value="저장">저장</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- underscript 시작-->
    <script th:replace="/admin/fragment/underscript :: underscript"></script>
    <!-- underscript 끝-->

    <script>
        ClassicEditor
            .create( document.querySelector( '#classic' ), {
                language: 'ko' //언어설정
            })
            .catch( error => {
                console.error( error );
            } );
    </script>

</body>
</html>