<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 쿠폰 등록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>
<style>
    /* 취소 - 등록 버튼 간격 조정 */
    .cancel {
        margin-right: 0 !important;
    }
</style>

<!-- topscript 시작-->
<div th:replace="/admin/fragment/topscript.html :: topscript"></div>
<!-- topscript 끝-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<body>
    <div class="container">
        <!-- menu 시작-->
        <div th:replace="/admin/fragment/menu.html :: menu"></div>
        <!-- menu 끝-->

        <div class="containerbody">
            <div class="main">
                <!-- 본문 -->
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                <div class="pageTitle">
                                    <h2>쿠폰 등록</h2>
                                </div>

                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">쿠폰 코드</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox">
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">쿠폰명</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox">
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">시작 일자</span>
                                        <div class="reg_content">
                                            <input type="date" class="textBox">
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">타입</span>
                                        <div class="reg_content">
                                            <select name="쿠폰타입" id="coupon_type" class="textBox">
                                                <option value="discount_percentage">할인율 적용</option>
                                                <option value="discount_price">할인 금액 적용</option>
                                            </select>
                                            
                                        </div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">종료 일자</span>
                                        <div class="reg_content">
                                            <input type="date" class="textBox">
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">할인 금액</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" id="unit" style="width: 285px";" value="%">
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <div class="buttonArea">
                                <button class="button cancel" type="button" onclick="location.href='/coupon/coupon_list/coupon_list.html'">목록</button>
                                <button class="button register">등록</button>
                            </div>

                        </form>
                    </dl>
                </div>

                <!-- 본문 끝 -->
            </div>
        </div>

    </div>
    </div>
    </div>


    <!-- 할인율 적용, 할인 금액 적용에 자동 단위 삽입 -->
    <script>
        // $('#unit').text("%");
        $('#coupon_type').on('change',function(){
            if($('#coupon_type').val()=='discount_percentage'){
            $('#unit').val("%");
        }else{
            $('#unit').val("KRW");
        }
    });
    
    </script>

    <!--<underscript.html>-->
    <div th:replace="/admin/fragment/underscript.html :: underscript"></div>
    <!--</underscript> 끝-->
</body>

</html>