<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 운항별 예약자 조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/reservationCSS/reservation_byflight.css">

</head>

<!-- topscript 시작-->
<div th:replace="/admin/fragment/topscript.html :: topscript"></div>
<!-- topscript 끝-->

<body>
<div class="container">

    <!-- menu 시작 -->
    <div th:replace="/admin/fragment/menu.html :: menu"></div>
    <!-- menu 끝 -->

        <div class="containerbody">
            <!-- main -->
            <div class="main">
                <div class="details">

                    <div class="bodytext_area box_inner">
                        <dl class="myinfo">
                            <form action="#" class="regForm">
                                <div class="tableBorder">
                                    <div class="pageTitle">
                                        <h2>운항별 예약자 상세정보</h2>
                                    </div>

                                    <ul class="leg_list">
                                        <li class="clear">
                                            <span class="tit_lbl">항공기타입</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="B737-800" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">항공기명</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="JEJU123" disabled></div>
                                        </li>
                                        <li class="clear">
                                            <span class="tit_lbl">출발일자</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="2022-06-10" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">출발시간</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="22:10" disabled></div>
                                        </li>
                                        <li class="clear">
                                            <span class="tit_lbl">출발지</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="서울 - 인천" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">도착지</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="일본 - 도쿄" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">고유번호</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="10" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">이메일</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="JEJU@JEJU.com" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">성명(KOR)</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="반하나" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">연락처</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="010-1111-1111" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">성명(ENG)</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="BAN HANA" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">성인/소아/유아</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="성인" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">성별</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="여성" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">자동체크인</span>
                                            <div class="reg_content check">
                                                <input type="radio" class="css-radio" id="mmm_lbl" name="checkin"
                                                    value="신청" checked style="margin-left: 90px; line-height: 50px;" disabled><label for="mmm_lbl">신청</label>

                                                <input type="radio" class="css-radio" id="www_lbl" name="checkin"
                                                    value="미신청" disabled><label for="www_lbl">미신청</label>
                                            </div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">아이디</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="Banhana" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">회원여부</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="일반회원" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">생년월일</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="1992.06.08" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">예약상태</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="예약 대기" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">국적</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="대한민국" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">결제수단</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="신용카드" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">주소</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="서울특별시 강남구 도산대로 204" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">결제일</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="2022-02-14" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">상세주소</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="104호" disabled></div>
                                        </li>

                                        <li class="clear">
                                            <span class="tit_lbl">쿠폰</span>
                                            <div class="reg_content"><input type="text" class="textBox"
                                                    value="미사용" disabled></div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="buttonArea">
                                    <button type="button" class="button list" value="목록" style="width: 80px;" onclick="location.href='/reservation/reservation_list_byflight/reservation_list_byflight.html'">목록</button>
                                    <button type="submit" class="button cancel" value="예약취소" style="width: 80px;">예약취소</button>
                                    <button type="submit" class="button register" value="예약확정" style="width: 80px;">예약확정</button>
                                </div>
                            </form>
                        </dl>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--<underscript.html>-->
    <div th:replace="/admin/fragment/underscript.html :: underscript"></div>
    <!--</underscript> 끝-->

</body>

</html>