<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>제주항공 | 관리자 목록</title>
  <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
  <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>
<!-- topscript 시작-->
<div th:replace="/admin/fragment/topscript.html :: topscript"></div>
<!-- topscript 끝-->

<body>
<div class="container">
  <!-- menu 시작-->
  <div th:replace="/admin/fragment/menu.html :: menu"></div>
  <!-- menu 끝-->

  <!-- main -->
  <div class="containerbody">
    <div class="main">
      <!-- 본문 -->
      <div class="bodytext_area box_inner">
        <dl class="myinfo">
          <form action="#" class="regForm">
            <div class="tableBorder">
              <div class="pageTitle">
                <h2>관리자 수정</h2>
              </div>
              <ul class="leg_list">
                <li class="clear">
                  <span class="tit_lbl">고유번호</span>
                  <div class="reg_content"><input name="adm_num" type="text" class="textBox" value="103"></div>
                </li>
                <li class="clear">
                  <span class="tit_lbl">연락처</span>
                  <div class="reg_content"><input name="adm_tel" type="text" class="textBox" value="010-0000-0000"></div>
                </li>
                <li class="clear">
                  <span class="tit_lbl">아이디</span>
                  <div class="reg_content"><input name="adm_adminid" type="text" class="textBox" value="user10"></div>
                </li>
                <li class="clear">
                  <span class="tit_lbl">사번</span>
                  <div class="reg_content"><input type="text" name="adm_employee_id" class="textBox" value="151617"></div>
                </li>
                <li class="clear">
                  <span class="tit_lbl">비밀번호</span>
                  <div class="reg_content"><input type="text" name="adm_admin_pw" class="textBox" value="qwer1234"></div>
                </li>
                <li class="clear">
                  <span class="tit_lbl">부서</span>
                  <div class="reg_content"><input type="text" name="adm_departure" class="textBox" value="전산관리부"></div>
                </li>
                <li class="clear">
                  <span class="tit_lbl">성명(KOR)</span>
                  <div class="reg_content"><input type="text" name="adm_name_kor" class="textBox" value="홍길동"></div>
                </li>
                <li class="clear">
                  <span class="tit_lbl">이메일</span>
                  <div class="reg_content"><input type="text" name="adm_email" class="textBox" value="gildong@jejuair.com"></div>
                </li>
                <li class="clear">
                  <span class="tit_lbl">성명(ENG)</span>
                  <div class="reg_content"><input type="text" name="adm_name_eng" class="textBox" value="HONG GIL DONG"></div>
                </li>
              </ul>

              <div class="buttonArea">
                <button type="button" class="button list margin_bottom_20" value="목록" onclick="location.href='/admin_settings/admin_list/admin_list.html'">목록</button>
                <button type="submit" class="button register margin_bottom_20" value="등록" onclick="edit_view()">등록</button>
              </div>
          </form>
        </dl>
      </div>
      <!-- 본문 끝 -->
    </div>
  </div>
</div>

<script>

  function edit_view(){
    const yn = confirm("게시물을 수정하시겠습니까?");
    if(yn){
      location.href = "";
    }
  }

</script>
<!--<underscript.html>-->
<div th:replace="/admin/fragment/underscript.html :: underscript"></div>
<!--</underscript> 끝-->
</body>

</html>