<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 취항지 정보 조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>
<!-- topscript 시작-->
<div th:replace="/admin/fragment/topscript.html :: topscript"></div>
<!-- topscript 끝-->

<body>
    <div class="container">
        <!-- menu 시작-->
        <div th:replace="/admin/fragment/menu.html :: menu"></div>
        <!-- menu 끝-->

        <!-- main -->
        <div class="containerbody">
            <div class="main">
                <!-- 본문 -->
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                <div class="pageTitle">
                                    <h2>취항지 상세페이지</h2>
                                </div>
                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">대륙 구분</span>
                                        <div class="reg_content">
                                            <select class="textBox selectBox" disabled>
                                                <option value="airplaneType">대한민국</option>
                                                <option value="airplaneName">동남아시아</option>
                                                <option value="seatCount">동북아시아</option>
                                                <option value="seatCount">대양주</option>
                                            </select>
                                        </div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">신규 취항지명</span>
                                        <div class="reg_content"><input type="text" class="textBox" disabled value="부산"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">공항코드</span>
                                        <div class="reg_content"><input type="text" class="textBox" disabled value="12345"></div>
                                    </li>
                                </ul>
                            </div> 
                            <div class="buttonArea">
                                <button type="button" class="button back" value="목록" onclick="location.href='/flight_schedule/destination_list/destination_list.html'">목록</button>
                                <button type="button" class="button register" value="수정" onclick="location.href='/flight_schedule/destination_list/destination_edit.html'">수정</button>
                                <button type="button" class="button delete" value="삭제" onclick="delete_view()">삭제</button>
                            </div>
                        </form>
                    </dl>
                </div>

                <!-- 본문 끝 -->
            </div>
        </div>

    </div>

    <!--<underscript.html>-->
    <div th:replace="/admin/fragment/underscript.html :: underscript"></div>
    <!--</underscript> 끝-->

</body>

</html>