<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 고객조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <style>
    .buttonArea{margin-bottom: 0px} 
    </style>
</head>
<!-- topscript 시작-->
<div th:replace="/admin/fragment/topscript.html :: topscript"></div>
<!-- topscript 끝-->

<body>
    <div class="container">
        <!-- menu 시작-->
        <div th:replace="/admin/fragment/menu.html :: menu"></div>
        <!-- menu 끝-->

        <!-- main -->
        <div class="containerbody">
            <div class="main">
                <!-- 본문 -->
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                <div class="pageTitle">
                                    <h2>고객 상세 조회</h2>
                                </div>
                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">고유 번호</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="1"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">가입 유형</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="일반회원"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">아이디</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="user01"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">우편번호</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="12345"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">비밀번호</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="******"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">주소</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="서울특별시 강남구 도산대로 204"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">성명(KOR)</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="홍길동"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">상세주소</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="104호"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">성명(ENG)</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="HONG GIL DONG"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">가입일자</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="2022-06-18"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">성별</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="남"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">이메일</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="banana@gamil.com"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">생년월일</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="19900101"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">이메일 수신동의</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="동의"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">국적</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="대한민국"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">SNS/앱푸시 동의</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="동의"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">거주 국가</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="대한민국"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">포인트</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="1,000"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">연락처</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="010-1111-1111"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">쿠폰</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="-"></div>
                                    </li>

                                </ul>
                            </div>
                            <div class="buttonArea">
                                <button type="button" class="button cancel" value="목록" onclick="location.href='/customer/customer_list/customer_list.html'">목록</button>
                                <button type="button" class="button register" value="수정" onclick="location.href='/customer/customer_list/customer_info_modify.html'">수정</button>
                            </div>
                        </form>
                    </dl>
                </div>

                <!-- 본문 끝 -->
            </div>
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2 style="text-align: center;">예매 내역</h2>
                        </div>
                        <table>
                            <thead>
                                <tr class="topbanner">
                                    <td class="index">NO</td>
                                    <td class="reserveNUum">예약 번호</td>
                                    <td class="name">성명</td>
                                    <td class="schedule">출도착</td>
                                    <td class="status">상태</td>
                                    <td class="paymentDate">결제일자</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="index">1</td>
                                    <td class="reserveNUum">NF49G0</td>
                                    <td class="name">반하나</td>
                                    <td class="schedule">서울 인천(ICN) - 도쿄 나리타(NRT)</td>
                                    <td class="status">예약확정</td>
                                    <td class="paymentDate">2022-06-11</td>
                                </tr>

                                <tr>
                                    <td class="index">1</td>
                                    <td class="reserveNUum">NF49G0</td>
                                    <td class="name">반하나</td>
                                    <td class="schedule">서울 인천(ICN) - 도쿄 나리타(NRT)</td>
                                    <td class="status">예약확정</td>
                                    <td class="paymentDate">2022-06-11</td>
                                </tr>

                                <tr>
                                    <td class="index">1</td>
                                    <td class="reserveNUum">NF49G0</td>
                                    <td class="name">반하나</td>
                                    <td class="schedule">서울 인천(ICN) - 도쿄 나리타(NRT)</td>
                                    <td class="status">예약확정</td>
                                    <td class="paymentDate">2022-06-11</td>
                                </tr>

                                <tr>
                                    <td class="index">1</td>
                                    <td class="reserveNUum">NF49G0</td>
                                    <td class="name">반하나</td>
                                    <td class="schedule">서울 인천(ICN) - 도쿄 나리타(NRT)</td>
                                    <td class="status">예약확정</td>
                                    <td class="paymentDate">2022-06-11</td>
                                </tr>

                                <tr>
                                    <td class="index">1</td>
                                    <td class="reserveNUum">NF49G0</td>
                                    <td class="name">반하나</td>
                                    <td class="schedule">서울 인천(ICN) - 도쿄 나리타(NRT)</td>
                                    <td class="status">예약확정</td>
                                    <td class="paymentDate">2022-06-11</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="paging">
                            <div class="page_btn">
                                <a href="#" class="firstpage_btn">First</a>
                            </div>

                            <div class="page_btn">
                                <a href="#" class="prevpage_btn">Prev</a>
                            </div>

                            <div class="page_btn2 current_btn">
                                <a href="#" class="pagenum">1</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">2</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">3</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">4</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">5</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">6</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">7</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">8</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">9</a>
                            </div>
                            <div class="page_btn2">
                                <a href="#" class="pagenum">10</a>
                            </div>

                            <div class="page_btn">
                                <a href="#" class="prevpage_btn">Next</a>
                            </div>

                            <div class="page_btn">
                                <a href="#" class="firstpage_btn">End</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--<underscript.html>-->
    <div th:replace="/admin/fragment/underscript.html :: underscript"></div>
    <!--</underscript> 끝-->
</body>

</html>