<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 예약자명 조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/reservationCSS/reservation_namelist.css">
</head>

    <!-- topscript 시작-->
    <div th:replace="/admin/fragment/topscript.html :: topscript"></div>
    <!-- topscript 끝-->

<body>
<div class="container">

    <!-- menu 시작 -->
    <div th:replace="/admin/fragment/menu.html :: menu"></div>
    <!-- menu 끝 -->

        <div class="containerbody">
            <!-- main -->
            <div class="main">
                <div class="details">
                    <div>
                        <div class="bodytext_area box_inner">
                            <dl class="myinfo">
                                <form action="#" class="regForm">
                                    <div class="tableBorder">
                                        <div class="pageTitle">
                                            <h2>예약자 조회</h2>
                                        </div>

                                        <ul class="leg_list">
                                            <div class="reser_topbanner" style="width: 100%;">
                                                <div class="subtitle" style="float: right;">
                                                    <div style="width: auto; float: right;">
                                                        <span>예약번호 </span>
                                                        <input type="text" class="searchBox" title="예약번호"
                                                            placeholder=" 예약번호" style="margin-right: 20px">
                                                        <span>예약자명 </span>
                                                        <input type="text" class="searchBox" title="예약자명"
                                                            placeholder=" 예약자명">
                                                        <button class="button searc">검색</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="reser_list">
                                                <h4 class="subtitle">조회 결과</h4>
                                                <thead>
                                                    <tr class="topbanner">
                                                        <td class="res_number">예약 번호</td>
                                                        <td class="res_name">성명</td>
                                                        <td class="res_email">이메일</td>
                                                        <td class="res_ssn">생년월일</td>
                                                        <td class="res_ph">연락처</td>
                                                        <td class="res_status">예약 상태</td>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status delivered">예약 대기</span></td>
                                                    </tr>

                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status delivered">예약 대기</span></td>
                                                    </tr>

                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status pending">예약 취소</span></td>
                                                    </tr>

                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status return">예약 확정</span></td>
                                                    </tr>


                                                    
                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status return">예약 확정</span></td>
                                                    </tr>


                                                    
                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status return">예약 확정</span></td>
                                                    </tr>

                                                    
                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status return">예약 확정</span></td>
                                                    </tr>

                                                    
                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status return">예약 확정</span></td>
                                                    </tr>

                                                    
                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status return">예약 확정</span></td>
                                                    </tr>

                                                    
                                                    <tr class="lists" onclick="location.href='/reservation/reservation_namelist/reservation_detail_byname.html'">
                                                        <td class="res_number">NF11GO</td>
                                                        <td class="res_name">반하나</td>
                                                        <td class="res_email">JEJU@JEJU.COM</td>
                                                        <td class="res_ssn">901231</td>
                                                        <td class="res_ph">010-0000-0000</td>
                                                        <td><span class="status return">예약 확정</span></td>
                                                    </tr>


                                                </tbody>
                                            </table>

                                            <div class="paging">
                                                <div class="page_btn">
                                                    <a href="#" class="firstpage_btn">First</a>
                                                </div>

                                                <div class="page_btn">
                                                    <a href="#" class="prevpage_btn">Prev</a>
                                                </div>

                                                <div class="page_btn2 current_btn">
                                                    <a href="#" class="pagenum">1</a>
                                                </div>
                                                <div class="page_btn2">
                                                    <a href="#" class="pagenum">2</a>
                                                </div>
                                                <div class="page_btn2">
                                                    <a href="#" class="pagenum">3</a>
                                                </div>
                                                <div class="page_btn2">
                                                    <a href="#" class="pagenum">4</a>
                                                </div>
                                                <div class="page_btn2">
                                                    <a href="#" class="pagenum">5</a>
                                                </div>
                                                <div class="page_btn2">
                                                    <a href="#" class="pagenum">6</a>
                                                </div>
                                                <div class="page_btn2">
                                                    <a href="#" class="pagenum">7</a>
                                                </div>
                                                <div class="page_btn2">
                                                    <a href="#" class="pagenum">8</a>
                                                </div>
                                                <div class="page_btn2">
                                                    <a href="#" class="pagenum">9</a>
                                                </div>
                                                <div class="page_btn2">
                                                    <a href="#" class="pagenum">10</a>
                                                </div>

                                                <div class="page_btn">
                                                    <a href="#" class="prevpage_btn">Next</a>
                                                </div>

                                                <div class="page_btn">
                                                    <a href="#" class="firstpage_btn">End</a>
                                                </div>
                                            </div>


                                        </ul>
                                    </div>

                                </form>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    <!--<underscript.html>-->
    <div th:replace="/admin/fragment/underscript.html :: underscript"></div>
    <!--</underscript> 끝-->

</body>

</html>