<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 고객조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <style>
    .buttonArea{margin-bottom: 0px} 
    </style>
</head>
<!-- topscript 시작-->
<div th:replace="/admin/fragment/topscript.html :: topscript"></div>
<!-- topscript 끝-->

<body>
    <div class="container">
        <!-- menu 시작-->
        <div th:replace="/admin/fragment/menu.html :: menu"></div>
        <!-- menu 끝-->

        <!-- main -->
        <div class="containerbody">
            <div class="main">
                <!-- 본문 -->
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                <div class="pageTitle">
                                    <h2>고객 상세 조회 - 수정</h2>
                                </div>
                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">고유 번호</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="1"  style="color: #ccc;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">가입 유형</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="일반회원"  style="color: #ccc;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">아이디</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="user01"  style="color: #ccc;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">우편번호</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="12345"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">비밀번호</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="******"  style="color: #ccc;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">주소</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="서울특별시 강남구 도산대로 204"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">성명(KOR)</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="홍길동"  style="color: #ccc;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">상세주소</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="104호"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">성명(ENG)</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="HONG GIL DONG"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">가입일자</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="2022-06-18"  style="color: #ccc;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">성별</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="남"  style="color: #ccc;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">이메일</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="banana@gamil.com"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">생년월일</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="19900101"  style="color: #ccc;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">이메일 수신동의</span>
                                        <div class="reg_content">
                                            <input type="radio" class="css-radio" id="mmm_lbl" name="이메일수신동의"
                                                value="동의"><label for="mmm_lbl">동의</label>
    
                                            <input type="radio" class="css-radio" id="www_lbl" name="이메일수신동의"
                                                value="비동의"><label for="www_lbl">비동의</label>
                                        </div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">국적</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="대한민국"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">SNS/앱푸시 동의</span>
                                        <div class="reg_content">
                                            <input type="radio" class="css-radio" id="mmm_lbl" name="SNS/앱푸시수신동의"
                                                value="동의"><label for="mmm_lbl">동의</label>
    
                                            <input type="radio" class="css-radio" id="www_lbl" name="SNS/앱푸시수신동의"
                                                value="비동의"><label for="www_lbl">비동의</label>
                                        </div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">거주 국가</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="대한민국"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">포인트</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="1,000" style="color: #ccc;"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">연락처</span>
                                        <div class="reg_content"><input type="text" class="textBox" value="010-1111-1111"></div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">쿠폰</span>
                                        <div class="reg_content"><input type="text" class="textBox" readonly value="-"  style="color: #ccc;"></div>
                                    </li>

                                </ul>
                            </div>
                            <div class="buttonArea">
                                <button type="button" class="button cancel" value="목록" onclick="location.href='/customer/customer_list/customer_list.html'">목록</button>
                                <button type="submit" class="button register" value="수정">수정</button>
                            </div>
                        </form>
                    </dl>
                </div>

                <!-- 본문 끝 -->
            </div>
        </div>

    </div>


    <!--<underscript.html>-->
    <div th:replace="/admin/fragment/underscript.html :: underscript"></div>
    <!--</underscript> 끝-->
</body>

</html>