
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 쿠폰 조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>
<!-- topscript 시작-->
<div th:replace="/admin/fragment/topscript.html :: topscript"></div>
<!-- topscript 끝-->

<body>
    <div class="container">
        <!-- menu 시작-->
        <div th:replace="/admin/fragment/menu.html :: menu"></div>
        <!-- menu 끝-->

        <!-- main -->
        <div class="containerbody">
            <div class="main">
                <!-- 본문 -->
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                <div class="pageTitle">
                                    <h2>쿠폰 조회</h2>
                                </div>

                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">쿠폰 코드</span>
                                        <div class="reg_content">
                                            <input readonly type="text" class="textBox" value="JEJU2022" disabled>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">쿠폰명</span>
                                        <div class="reg_content">
                                            <input type="text" class="textBox" value="재방문 감사 쿠폰" disabled>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">시작 일자</span>
                                        <div class="reg_content">
                                            <input readonly type="text" class="textBox" value="2022.06.08" disabled>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">타입</span>
                                        <div class="reg_content">
                                            <input readonly type="text" class="textBox" value="금액적용" disabled>
                                        </div>
                                    </li>

                                    <li class="clear">
                                        <span class="tit_lbl">종료 일자</span>
                                        <div class="reg_content">
                                            <input readonly type="text" class="textBox" value="2022.07.08" disabled>
                                        </div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">할인 금액</span>
                                        <div class="reg_content">
                                            <input readonly type="text" class="textBox" value="10,000 KRW" disabled>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <div class="buttonArea">
                                <button type="button" class="button list" onclick='location.href="/coupon/coupon_list/coupon_list.html"'>목록</button>
                                <button type="button" class="button edit" onclick="location.href='/coupon/coupon_list/coupon_edit.html'">수정</button>
                                <button class="button delete" onclick="delete_coupon()">삭제</button>
                            </div>

                        </form>
                    </dl>
                </div>

                <!-- 본문 끝 -->
            </div>
        </div>

    </div>

    <!--<underscript.html>-->
    <div th:replace="/admin/fragment/underscript.html :: underscript"></div>
    <!--</underscript> 끝-->
</body>

</html>