<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | FAQ 목록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

<script src="/admin/lib/js/ckEditor/ckeditor.js"></script>
<script src="/admin/lib/js/ckEditor/translations/ko.js"></script>
<style>
    .classic_title{
        position: relative;
        width: 100%;
        margin-top: 20px;
        background-color: #d1d1d1;
        border: 1px solid gray;
        padding-left: 10px;
    }
	.ck.ck-editor {
    	/* max-width: 90%;  */
        position: relative;
        width: 100%;
	}
	.ck-editor__editable {
	    min-height: 500px;
	}
</style>

<!-- topscript 시작-->
<script th:replace="/admin/fragment/topscript :: topscript"></script>
<!-- topscript 끝-->

<body>
    <div class="container">
        <!—- menu 시작-—>
        <div th:replace="/admin/fragment/menu :: menu"></div>
        <!—- menu 끝-—>

        <div class="containerbody">
            <!-- main -->
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>FAQ 세부내용</h2>
                        </div>
                            <table>
                                <thead>
                                    <tr class="topbanner" style="color: var(--black2);">
                                        <td class="airplaneName" style="text-align: left;">변경된 수하물 규정에 대해 안내드립니다.</td>
                                        <td class="departureTime" style="text-align: right;">2022.06.08 13:23</td>
                                        <td class="arriveTime" style="text-align: right;">수하물</td>
                                    </tr>
                                </thead> 
                                
                            </table>
                            <tbody>
                                
                                <textarea name="textarea2" style="height: 15em;">
    저희 제주 공항은 2022.06.10 부터 수하물 규정이 변동됩니다.                                     
    고객여러분께서는 참고해주시기 바랍니다. 
                                </textarea>
                            </tbody>
                            
                        </tbody>
                        <div class="event_btn">
                            <div class="buttonArea">
                                <button type="submit" class="button back" value="목록" onclick="location.href='/inquiry/FAQ_list/FAQ_list.html'">목록</button>
                                <button type="submit" class="button register" value="수정" onclick="location.href='/inquiry/FAQ_list/FAQ_list_edit.html'">수정</button>
                                <button type="submit" class="button cancel" value="삭제">삭제</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- underscript 시작-->
    <script th:replace="/admin/fragment/underscript :: underscript"></script>
    <!-- underscript 끝-->

    <script>
        ClassicEditor
            .create( document.querySelector( '#classic' ), {
                language: 'ko' //언어설정
            })
            .catch( error => {
                console.error( error );
            } );
    </script>
</body>
</html>