<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | FAQ 목록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

<!-- topscript 시작-->
<script th:replace="/admin/fragment/topscript :: topscript"></script>
<!-- topscript 끝-->

<body>
<div class="container">
    <!—- menu 시작-—>
    <div th:replace="/admin/fragment/menu :: menu"></div>
    <!—- menu 끝-—>

    <div class="containerbody">
        <!-- main -->
        <div class="main">
            <div class="details">
                <!-- order details list -->
                <div class="recentOrders">
                    <div class="calheader">
                        <h2>FAQ 목록</h2>
                    </div>
                    <div class="scheduleSearch">
                        <form action="#">
                            <div class="wrapper">
                                <fieldset class="selectDiv">
                                    <select name="menu" id="menu-select">
                                        <option value="">전체</option>
                                        <option value=rev">항공권 예약 변경/취소</option>
                                        <option value="ref_po">리프레시 포인트</option>
                                        <option value="home_movile">홈페이지 & 모바일 이용</option>
                                        <option value="service">서비스 안내</option>
                                        <option value="etc">기타</option>
                                    </select>
                                    <input type="text" class="searchBox" title="검색어를 입력하세요"
                                           placeholder="검색어를 입력하세요">
                                    <button type="submit" class="button search" value="검색">검색</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                    <table>
                        <thead>
                        <tr class="topbanner">
                            <td class="FAQ_num">번호</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">작성자</td>
                            <td class="FAQ_egdate">등록일</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">10</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">9</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">8</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">7</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">6</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">5</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">4</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">3</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">2</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        <tr onclick="location.href='/inquiry/FAQ_list/FAQ_list_info.html'">
                            <td class="FAQ_num">1</td>
                            <td class="FAQ_title">비회원으로 구입한 항공권은 예매번호를 어떻게 조회하나요?</td>
                            <td class="FAQ_writer">admin01</td>
                            <td class="FAQ_egdate">2022-06-10 11:12:23</td>
                        </tr>

                        </tbody>

                    </table>

                    <button type="submit" class="button write" value="작성하기" onclick="location.href='/inquiry/FAQ_list/FAQ_regist.html'">작성하기</button>

                    <div class="paging">
                        <div class="page_btn">
                            <a href="#" class="firstpage_btn">First</a>
                        </div>

                        <div class="page_btn">
                            <a href="#" class="prevpage_btn">Prev</a>
                        </div>

                        <div class="page_btn2 current_btn">
                            <a href="#" class="pagenum">1</a>
                        </div>
                        <div class="page_btn2">
                            <a href="#" class="pagenum">2</a>
                        </div>
                        <div class="page_btn2">
                            <a href="#" class="pagenum">3</a>
                        </div>
                        <div class="page_btn2">
                            <a href="#" class="pagenum">4</a>
                        </div>
                        <div class="page_btn2">
                            <a href="#" class="pagenum">5</a>
                        </div>
                        <div class="page_btn2">
                            <a href="#" class="pagenum">6</a>
                        </div>
                        <div class="page_btn2">
                            <a href="#" class="pagenum">7</a>
                        </div>
                        <div class="page_btn2">
                            <a href="#" class="pagenum">8</a>
                        </div>
                        <div class="page_btn2">
                            <a href="#" class="pagenum">9</a>
                        </div>
                        <div class="page_btn2">
                            <a href="#" class="pagenum">10</a>
                        </div>

                        <div class="page_btn">
                            <a href="#" class="prevpage_btn">Next</a>
                        </div>

                        <div class="page_btn">
                            <a href="#" class="firstpage_btn">End</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- underscript 시작-->
<script th:replace="/admin/fragment/underscript :: underscript"></script>
<!-- underscript 끝-->
</body>

</html>