<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | ADMIN</title>
    <link rel="stylesheet" type="text/css" href="admin/lib/css/common.css">
<!--<link rel="stylesheet" type="text/css" href="/static/admin/lib/css/common.css">-->
    <link rel="icon" href="/static/admin/lib/images/favicon.ico">
</head>



<body>
<div class="container">
    <!-- menu 시작-->
    <div th:replace="/admin/fragment/menu.html :: menu"></div>
    <!-- menu 끝-->

    <!-- main -->
    <div class="containerbody">
        <div class="main">
            <!-- cards -->
            <div class="mainBox">
                <div class="cardBox">
                    <div class="card">
                        <div>
                            <div class="numbers">1,504</div>
                            <div class="cardName">Daily Views</div>
                        </div>
                        <div class="iconBox">
                            <ion-icon name="eye-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers">80</div>
                            <div class="cardName">Sales</div>
                        </div>
                        <div class="iconBox">
                            <ion-icon name="cart-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers">284</div>
                            <div class="cardName">Comments</div>
                        </div>
                        <div class="iconBox">
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div class="numbers">$7,842</div>
                            <div class="cardName">Earning</div>
                        </div>
                        <div class="iconBox">
                            <ion-icon name="cash-outline"></ion-icon>
                        </div>
                    </div>
                </div>


                <div class="details formain">
                    <!-- order details list -->
                    <div class="recentOrders" style="width: 74%;">
                        <table class="reser_list">
                            <thead>
                            <tr class="topbanner">
                                <td class="res_number">예약 변호</td>
                                <td class="res_name">성명</td>
                                <td class="res_email">이메일</td>
                                <td class="res_ssn">생년월일</td>
                                <td class="res_ph">연락처</td>
                                <td class="res_status">예약 상태</td>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status delivered">예약 대기</span></td>
                            </tr>

                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status delivered">예약 대기</span></td>
                            </tr>

                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status pending">예약 취소</span></td>
                            </tr>

                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status return">예약 확정</span></td>
                            </tr>



                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status return">예약 확정</span></td>
                            </tr>



                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status return">예약 확정</span></td>
                            </tr>


                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status return">예약 확정</span></td>
                            </tr>


                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status return">예약 확정</span></td>
                            </tr>


                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status return">예약 확정</span></td>
                            </tr>


                            <tr class="lists">
                                <td class="res_number">NF11GO</td>
                                <td class="res_name">반하나</td>
                                <td class="res_email">JEJU@JEJU.COM</td>
                                <td class="res_ssn">901231</td>
                                <td class="res_ph">010-0000-0000</td>
                                <td><span class="status return">예약 확정</span></td>
                            </tr>


                            </tbody>
                        </table>
                    </div>

                    <!-- New Customers -->
                    <div class="recentCustomers">
                        <div class="cardheader">
                            <h2>Recent Customers</h2>
                        </div>
                        <table>
                            <tr>
                                <td width="60px">
                                    <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                </td>
                                <td>
                                    <h4>David<br><span>Italy</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                </td>
                                <td>
                                    <h4>David<br><span>Italy</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                </td>
                                <td>
                                    <h4>David<br><span>Italy</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                </td>
                                <td>
                                    <h4>David<br><span>Italy</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                </td>
                                <td>
                                    <h4>David<br><span>Italy</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                </td>
                                <td>
                                    <h4>David<br><span>Italy</span></h4>
                                </td>
                            </tr>

                            <tr>
                                <td width="60px">
                                    <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                </td>
                                <td>
                                    <h4>David<br><span>Italy</span></h4>
                                </td>
                            </tr>
                            <tr>
                                <td width="60px">
                                    <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                </td>
                                <td>
                                    <h4>David<br><span>Italy</span></h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<underscript.html>-->
<div th:replace="/admin/fragment/underscript.html :: underscript"></div>
<!--</underscript> 끝-->

</body>
</html>
